# Day 1 사칙연산

### 1. 두 수의 합
#### 문제 설명:
정수 num1과 num2가 주어질 때, num1과 num2의 합을 return하도록 soltuion 함수를 완성해주세요.
#### 제한 사항:
- -50,000 ≤ num1 ≤ 50,000
- -50,000 ≤ num2 ≤ 50,000
#### 입출력 예:
    | num1 | num2 | result |
    | --- | --- | --- |
    | 2 | 3 | 5 |
    | 100 | 2 | 102 |
    
1. `num1`이 2이고 `num2`가 3이므로 2 + 3 = 5를 return합니다.
    
2. `num1`이 100이고 `num2`가 2이므로 100 + 2 = 102를 return합니다

#### solution.py

In [1]:
def solution(num1, num2):
    answer = num1+num2
    return answer

### 2. 두 수의 차
#### 문제 설명:
정수 num1과 num2가 주어질 때, num1에서 num2를 뺀 값을 return하도록 soltuion 함수를 완성해주세요.
#### 제한 사항:
- -50,000 ≤ num1 ≤ 50,000
- -50,000 ≤ num2 ≤ 50,000
#### 입출력 예:
    | num1 | num2 | result |
    | --- | --- | --- |
    | 2 | 3 | -1 |
    | 100 | 2 | 98 |
    
1. `num1`이 2이고 `num2`가 3이므로 2 - 3 = -1을 return합니다.

2. `num1`이 100이고 `num2`가 2이므로 100 - 2 = 98을 return합니다.

#### solution.py

In [2]:
def solution(num1, num2):
    answer = num1-num2
    return answer

### 3. 두 수의 곱
#### 문제 설명:
정수 num1과 num2가 배개변수 주어집니다. num1과 num2를 곱한 값을 return하도록 soltuion 함수를 완성해주세요.
#### 제한 사항:
- 0 ≤ num1 ≤ 100
- 0 ≤ num2 ≤ 100
#### 입출력 예:
    | num1 | num2 | result |
    | --- | --- | --- |
    | 3 | 4 | 12 |
    | 27 | 19 | 513 |
    
1. `num1`이 3, `num2`가 4이므로 3 * 4 = 12를 return합니다.

2. `num1`이 27, `num2`가 19이므로 27 * 19 = 513을 return합니다.

#### solution.py

In [3]:
def solution(num1, num2):
    answer = num1*num2
    return answer

### 4. 몫 구하기
#### 문제 설명:
정수 num1과 num2가 배개변수 주어질 때, num1을 num2로 나눈 몫을 return 하도록 solution 함수를 완성해주세요.
#### 제한 사항:
- 0 ≤ num1 ≤ 100
- 0 ≤ num2 ≤ 100
#### 입출력 예:
    | num1 | num2 | result |
    | --- | --- | --- |
    | 10 | 5 | 2 |
    | 7 | 2 | 3 |
    
1. `num1`이 10, `num2`가 5이므로 10을 5로 나눈 몫 2를 return 합니다.

2. `num1`이 7, `num2`가 2이므로 7을 2로 나눈 몫 3을 return 합니다.

#### solution.py

In [4]:
def solution(num1, num2):
    answer = int(num1/num2) # or num1//num2
    return answer