# 입출력과 사칙연산

### [단계 1] 2557번 Hello world
#### 문제
Hello World!를 출력하시오.
#### 입력
없음.
#### 출력
Hello world!를 출력하시오.
#### 예제:
 - 예제 출력: Hello World!

#### 정답

In [25]:
print("Hello World!")

Hello World!

### [단계 2] 1000번 A+B
#### 문제
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
#### 입력
첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
#### 출력
첫째 줄에 A+B를 출력한다
#### 예제:
 - 예제 입력: 1 2
 - 예제 출력: 3

#### 정답

In [11]:
a, b = map(int, input().split())
print(a+b)

1 2
3

### [단계 3] 1001번 A-B
#### 문제
두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.
#### 입력
첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
#### 출력
첫째 줄에 A-B를 출력한다.
#### 예제:
 - 예제 입력: 3 2
 - 예제 출력: 1

#### 정답

In [12]:
a, b = map(int, input().split())
print(a-b)

3 2
1

### [단계 4] 10998번 AxB
#### 문제
A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.
#### 입력
첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
#### 출력
첫째 줄에 A×B를 출력한다.
#### 예제:
 - 예제1 입력: 1 2
 - 예제1 출력: 2
 - 예제2 입력: 3 4
 - 예제2 출력: 12

#### 정답

In [13]:
a, b = map(int, input().split())
print(a*b)

1 2
2

### [단계 5] 10998번 AxB
#### 문제
두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.
#### 입력
첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)
#### 출력
첫째 줄에 A/B를 출력한다. 실제 정답과 출력값의 절대오차 또는 상대오차가 10-9 이하이면 정답이다.
#### 예제:
 - 예제1 입력: 1 3
 - 예제1 출력:`0.33333333333333333333333333333333`
   (10^-9 이하의 오차를 허용한다는 말은 꼭 소수 9번째 자리까지만 출력하라는 뜻이 아님)
 - 예제2 입력: 4 5
 - 예제2 출력: 0.8

#### 정답

In [15]:
a, b = map(int, input().split())
# '/' 연산자: 나눗셈 float 결과
# '//' 연산자: 나눗셈 int 결과
print(a/b)

1 3
0.3333333333333333

### [단계 6] 10869번 사칙연산
#### 문제
두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.
#### 입력
두 자연수 A와 B가 주어진다. (1 ≤ A, B ≤ 10,000)
#### 출력
첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.
#### 예제:
 - 예제 입력: 7 3
 - 예제 출력:  
 10
 
 4
 
 21
 
 2
 
 1
 

#### 정답

In [16]:
A,B = map(int, input().split())
#print - 기본적으로 줄바꿈 포함
print(A+B, A-B, A*B, A//B, A%B)

7 3
10 4 21 2 1

### [단계 7] 10926번 ??!
#### 문제
준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다. 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.
#### 입력
첫째 줄에 준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어진다. 아이디는 알파벳 소문자로만 이루어져 있으며, 길이는 50자를 넘지 않는다.
#### 출력
첫째 줄에 준하의 놀람을 출력한다. 놀람은 아이디 뒤에 ??!를 붙여서 나타낸다.
#### 예제:
 - 예제1 입력: joonas
 - 예제1 출력: joonas??!
 - 예제2 입력: baekjoon
 - 예제2 출력: baekjoon?!
 

#### 정답

In [17]:
JunId = input()
print(JunId+"??!")

joonas
joonas??!

### [단계 8] 18108번 1998년생인 내가 태국에서는 2541년생?!
#### 문제
ICPC Bangkok Regional에 참가하기 위해 수완나품 국제공항에 막 도착한 팀 레드시프트 일행은 눈을 믿을 수 없었다. 공항의 대형 스크린에 올해가 2562년이라고 적혀 있던 것이었다. 불교 국가인 태국은 불멸기원(佛滅紀元), 즉 석가모니가 열반한 해를 기준으로 연도를 세는 불기를 사용한다. 반면, 우리나라는 서기 연도를 사용하고 있다. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.
#### 입력
서기 연도를 알아보고 싶은 불기 연도 y가 주어진다. (1000 ≤ y ≤ 3000)
#### 출력
불기 연도를 서기 연도로 변환한 결과를 출력한다.
#### 예제:
 - 예제 입력: 2541
 - 예제 출력: 1998
 

#### 정답

In [18]:
year = int(input())
print(year-543)

2541
1998

### [단계 9] 10430번 나머지
#### 문제
(A+B)%C는 ((A%C) + (B%C))%C 와 같을까?


(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?


세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.
#### 입력
첫째 줄에 A, B, C가 순서대로 주어진다. (2 ≤ A, B, C ≤ 10000)
#### 출력
첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.
#### 예제:
 - 예제 입력: 5 8 4 
 - 예제 출력:  
 1
 
 2
 
 0
 
 0
 

#### 정답

In [19]:
A,B,C = map(int, input().split())
print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C);
print(((A%C)*(B%C))%C);

5 8 4
1
1
0
0

### [단계 10] 2588번 곱셈
#### 문제
(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.
![https://www.acmicpc.net/upload/images/f5NhGHVLM4Ix74DtJrwfC97KepPl27s%20(1).png](https://www.acmicpc.net/upload/images/f5NhGHVLM4Ix74DtJrwfC97KepPl27s%20(1).png)
(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.
#### 입력
첫째 줄에 (1)의 위치에 들어갈 세 자리 자연수가, 둘째 줄에 (2)의 위치에 들어갈 세자리 자연수가 주어진다.
#### 출력
첫째 줄부터 넷째 줄까지 차례대로 (3), (4), (5), (6)에 들어갈 값을 출력한다.
#### 예제:
 - 예제 입력:  
 472  
 385
 - 예제 출력:  
 2360  
 3776  
 1416  
 181720
 

#### 정답

In [20]:
A = int(input())
B = int(input())
B3 = B//100
B2 = B%100//10
B1 = B%10
print(A*B1)
print(A*B2)
print(A*B3)
print((A*B1)+((A*B2)*10)+((A*B3)*100))

472
385
2360
3776
1416
181720

### [단계 11] 11382번 꼬마 정민
#### 문제
꼬마 정민이는 이제 A+B 정도는 쉽게 계산할 수 있다. 이제 A + B + C를 계산할 차례이다!
#### 입력
첫 번째 줄에 A, B, C (1 ≤ A, B, C ≤ 1012)이 공백을 사이에 두고 주어진다.
#### 출력
A+B+C의 값을 출력한다.
#### 예제:
 - 예제 입력: 77 77 7777
 - 예제 출력: 7931
 

#### 정답

In [22]:
A,B,C = map(int, input().split())
print(A+B+C)

77 77 7777
7931

### [단계 12] 10171번 고양이
#### 문제
아래 예제와 같이 고양이를 출력하시오.
#### 입력
없음.
#### 출력
고양이를 출력한다.
#### 예제:
 - 예제 출력: (고양이 그림)
 

#### 정답

In [23]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

### [단계 13] 10172번 개
#### 문제
아래 예제와 같이 개를 출력하시오.
#### 입력
없음.
#### 출력
개를 출력한다.
#### 예제:
 - 예제 출력: (개 그림)
 

#### 정답

In [26]:
print("|\\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|